

body{
    
        background-color: lightgrey;
}
      
 header {
   background-image:
   url("https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Colorful-Geometric-Simple-Background-Image.jpg");
background-size: 800px;

 }
 .searchbar{
   text-align: right;

 }
 
 .bgimg {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");
  height: 100%;
  position: relative;
  opacity: 0.85;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; /* fixed in viewport */
}



 

.image{
  border-radius: 70%;
  text-align: center;
}
article {
  
padding:2em;
margin:1px;
}
section{
  margin: 1em;
  padding: 2rem;
  background-color: rgb(175, 230, 173);
  border-radius: 2em;
}

aside{
    border-width: 50px;
   

background-color: lightblue;
}
nav {
  background-color: rgb(71, 170, 184);
  text-align: center;

}

.list {
  display: inline-block;
  font-size: large;
  margin: 1em;
  border-style: dashed solid;
  padding:100 2px 0 2px;
}
  


h2,h3,h4{
  
    color: rgba(34, 226, 34, 0.911);
}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
