body{
    
        background-color: lightgrey;
}
      
 
 .searchbar{
   text-align: right;

 }
 
 .bgimg {
  
  
  position: relative;
  opacity: 1;
  background-position: center;
 background-size: cover;
  background-attachment: fixed; 
}

.nameb{
  color: #f00;
    -webkit-filter: invert(100%);
    filter: invert(100%);
  
}

.image{
  border-radius: 70%;
  text-align: center;
}

section{
  margin: 1em;
  padding: 2rem;
  background-color: rgb(175, 230, 173);
  border-radius: 2em;
}
.icon-bar{
  text-align: left;
}
aside{
    border-width: 50px;
  
   color: rgb(0, 255, 255); 
    mix-blend-mode: saturation;


}
nav {
  background-color: rgb(75, 184, 71);
  text-align: start;
  
}

.list {
  display: inline-block;
  font-size: large;
  margin: 1em;
  border-style: dashed solid;
  padding:100 2px 0 2px;
}
  .first,.second,.sum{
    color: rgba(226, 34, 34, 0.911);
    
  }

h2{
color: rgba(0, 0, 0, 0.911);
}
h3,h4{
  
    color: rgba(226, 34, 34, 0.911);
}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
